.main{
    margin-right: 5%;
    margin-left: 5%;
}

.input-field{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid;
    outline-style: none;
    margin-bottom: 10px;
}

.submit-button{
    width: 200px;
    margin: 20px;
}